<div class="sidebar-heading bg-dark text-light"><i class="fa-brands fa-apple"></i><small>
    มหาวิทยาลัยราชภัฏยะลา</small></div>
<div class="list-group list-group-flush"></div>
<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-xl-5 px-2">

  <nav class="small" id="toc">
    <ul class="list-unstyled">
      <li class="my-2 pt-3">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          [routerLink]="BASE_URL + '/admin/home'" routerLinkActive="active" aria-expanded="true"
          data-bs-target="#contents-home" aria-controls="contents-home"><i class="fa-solid fa-genderless pe-2"></i>
          Dashboard</button>
      </li>
    </ul>
    <h2 class="h6 pb-1 mb-2 border-bottom">ระบบจัดกาสิทธิ์ของบุคลากร</h2>
    <ul class="list-unstyled">
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#contents-collapse1" aria-controls="contents-collapse1"><i
            class="fa-solid fa-genderless pe-2"></i> จัดการข้อมูล</button>
        <ul class="list-unstyled ps-3 collapse show" id="contents-collapse1">
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/personnel']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">บุคลากร</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/department']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">แผนก</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/jobposition']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ตำแหน่ง</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/role']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">กำหนดสิทธิ์การใช้งาน</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/admin']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ผู้ดูแลระบบ</a>
          </li>
        </ul>
      </li>
    </ul>

    <h2 class="h6 pt-2 pb-1 mb-2 border-bottom">ระบบติดตามงานแม่บ้าน</h2>

    <ul class="list-unstyled">
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#r3" aria-controls="r3"><i
            class="fa-solid fa-genderless pe-2"></i> ตั้งค่า</button>
        <ul class="list-unstyled ps-3 collapse show" id="r3">
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/homemaker/admin/homemaker']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ข้อมูลแม่บ้าน</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/homemaker/admin/room']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ห้อง</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/homemaker/admin/roomtype']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ประเภทห้อง</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/homemaker/admin/checklist']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">Check List สำหรับแม่บ้าน</a>
          </li>
        </ul>
      </li>
    </ul>


<!-- 
    <ul class="list-unstyled">
      <li class="">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#r4" aria-controls="r4"><i
            class="fa-solid fa-genderless pe-2"></i> จัดการข้อมูล</button>
        <ul class="list-unstyled ps-3 collapse" id="r4">
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/employee']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">แม่บ้าน</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/department']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">รายการห้อง</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/jobposition']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">รายการพัสดุ</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/role']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">รายการ Check list</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/role']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">เจ้าหน้าที่ติดตามการทำงาน</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/role']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">แจ้งซ่อม/ร้องเรียน</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" 
              class="d-inline-flex align-items-center rounded text-decoration-none">ตั้งค่า</a>
          </li>
          <li class="ps-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" 
              class="d-inline-flex align-items-center rounded text-decoration-none">รายงาน</a>
          </li>
        </ul>
      </li>
    </ul> 
  -->

  </nav>
</aside>