<div class="d-flex bg-content" id="wrapper">
    <!-- Sidebar-->
    <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <app-header></app-header>
        <!-- Page content-->
        <div class="container-fluid ps-md-5 pe-md-5">
            <h1 class="mt-4">ผู้ดูแลระบบ</h1>
            <p>แก้ไขข้อมูลผู้ดูแลระบบ</p>

            <div class="row border shadow-sm bg-body-tertiary p-md-3 mb-5">
                <div class="col-md-12">
                    <div class="row border-bottom pt-3 pb-3">
                        <div class="col-md-6 h5">แก้ไขข้อมูลผู้ใช้งาน</div>
                        <div class="col-md-6 text-md-end">
                            <a class="btn btn-secondary btn-sm" href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/admin']"><i class="fa-solid fa-arrow-left"></i> ย้อนกลับ</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row pt-3">
                        <div class="col-12">
                            <!-- form -->
                            <form [formGroup]="frm" (ngSubmit)="onSave()" *ngIf="itemRef"  >
                                <div class="row">
                                    <!-- หน้า -->
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="" class="form-label">ชื่อ</label>
                                            <input type="text" class="form-control" id="firstname" placeholder="ชื่อ"
                                            formControlName="firstname" [(ngModel)]="itemRef.firstname"
                                            [class.is-invalid]="(frm.get('firstname')?.invalid && (frm.get('firstname')?.dirty || frm.get('firstname')?.touched))"
                                            >
                                            <div *ngIf="(frm.get('firstname')?.invalid && (frm.get('firstname')?.dirty || frm.get('firstname')?.touched))">
                                                <small class="text-danger" *ngIf="frm.get('firstname')?.hasError('required')">กรุณากรอกขื่อ</small>
                                                <small class="text-danger" *ngIf="frm.get('firstname')?.hasError('pattern')">รูปแบบข้อมูลไม่ถูกต้อง</small>
                                            </div>  
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">นามสกุล</label>
                                            <input type="text" class="form-control" id="lastname" placeholder="นามสกุล"
                                            formControlName="lastname" [(ngModel)]="itemRef.lastname"
                                            [class.is-invalid]="(frm.get('lastname')?.invalid && (frm.get('lastname')?.dirty || frm.get('lastname')?.touched))"
                                            >
                                            <div *ngIf="(frm.get('lastname')?.invalid && (frm.get('lastname')?.dirty || frm.get('lastname')?.touched))">
                                                <small class="text-danger" *ngIf="frm.get('lastname')?.hasError('required')">กรุณากรอกนามสกุล</small>
                                                <small class="text-danger" *ngIf="frm.get('lastname')?.hasError('pattern')">รูปแบบข้อมูลไม่ถูกต้อง</small>
                                            </div>  
                                        </div>
                                        <div class="mb-3">
                                            <div class="col-md-6 pb-5">
                                                <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="frm.invalid" *ngIf="!isProcess">บันทึก</button>
                                                <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="true"  *ngIf="isProcess">
                                                    <i class="fa-solid fa-spinner fa-spin"></i>
                                                </button>
                                                <button type="reset" class="btn btn-secondary btn-sm ps-3 pe-3">รีเซ็ต</button>
                                            </div>
                                        </div>
                                    



                                    </div>
                                    <!-- หลัง -->
                                    <!-- <div class="col-md-6">
                                        <div class="mb-3 mt-3">
                                            <label for="" class="form-label"><strong>แก้ไขข้อมูลสำหรับเข้าระบบ</strong></label>
                                        </div>

                                        <div class="mb-3">
                                            <label for="" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="ตัวอย่าง: name@example.com"
                                            formControlName="email"  [(ngModel)]="itemRef.email"
                                            [class.is-invalid]="(frm.get('email')?.invalid && (frm.get('email')?.dirty || frm.get('email')?.touched))"
                                            >
                                            <div *ngIf="frm.get('email')?.invalid && (frm.get('email')?.dirty || frm.get('email')?.touched)">
                                                <small class="text-danger" *ngIf="frm.get('email')?.hasError('required')">กรุณากรอก email</small>
                                                <small class="text-danger" *ngIf="frm.get('email')?.hasError('email')">รูปแบบข้อมูลไม่ถูกต้อง</small>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="password" class="form-label">รหัสผ่านใหม่</label>
                                            <input type="password" class="form-control" id="password" formControlName="password" maxlength="12"
                                            [class.is-invalid]="(frm.get('password')?.invalid && (frm.get('password')?.dirty || frm.get('password')?.touched))"
                                            >

                                            <div *ngIf="frm.get('password')?.invalid && (frm.get('password')?.dirty || frm.get('password')?.touched)">
                                                <small class="text-danger" *ngIf="frm.get('password')?.hasError('minlength')">รหัสผ่านต้องไม่ต่ำกว่า 4 ตัวอักษร</small>
                                                <small class="text-danger" *ngIf="frm.get('password')?.hasError('maxlength')">รหัสผ่านต้องไม่เกิน 12 ตัวอักษร</small>
                                                <small class="text-danger" *ngIf="frm.get('password')?.hasError('required')">กรุณากรอกรหัสผ่าน</small>                                                 
                                            </div>  
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">ยืนยันรหัสผ่านใหม่</label>
                                            <input type="password" class="form-control" id="password_confirm"
                                            formControlName="password_confirm"
                                            [class.is-invalid]="((frm.get('password_confirm')?.invalid || frm.errors?.['passwordMatchError']) && (frm.get('password_confirm')?.dirty || frm.get('password_confirm')?.touched))"                                           
                                            >

                                            <div *ngIf="(frm.get('password_confirm')?.dirty || frm.get('password_confirm')?.touched)">
                                                <div *ngIf="frm.get('password_confirm')?.hasError('required')"><small class="text-danger" >กรุณายืนยันรหัสผ่าน</small></div>
                                                <div *ngIf="(frm.errors?.['passwordMatchError'])"><small class="text-danger" >รหัสผ่าน กับ ยืนยันรหัสผ่าน ไม่ตรงกัน</small></div>
                                            </div>  

                                        </div>
                                    </div> -->
                                    <!-- <div class="col-md-6 pb-5">
                                        <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="frm.invalid" >บันทึก</button>
                                        <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="true"  *ngIf="isProcess">
                                            <i class="fa-solid fa-spinner fa-spin"></i>
                                        </button>
                                        <button type="reset" class="btn btn-secondary btn-sm ps-3 pe-3">รีเซ็ต</button>
                                    </div> -->
                                    
                                </div>
                            </form>
                            <!-- end form-->
                            </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row border-bottom pb-3">
                        <div class="col-md-6 h5">แก้ไขรหัสผ่าน</div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row pt-3">
                        <div class="col-12">

                            <app-reset-password></app-reset-password>

                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="row pt-3">
                        <div class="col-12 bg-danger-subtle border border-danger">
                            <a class="btn btn-danger btn-sm mt-2 mb-2" (click)="delAdmin(itemRef.id)">ลบผู้ดูแลระบบนี้</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<app-footer></app-footer>