<div class="d-flex bg-content" id="wrapper">
    <!-- Sidebar-->
    <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <app-header></app-header>
        <!-- Page content-->
        <div class="container-fluid ps-md-5 pe-md-5">
            <h1 class="mt-4">แม่บ้าน</h1>
            <p>ระบบติดตามงานแม่บ้าน</p>

            <div class="row border shadow-sm bg-body-tertiary p-md-3">
                <div class="col-md-12">
                    <div class="row border-bottom pt-3 pb-3">
เนื้อหา
                </div>

                <div class="col-md-12">
                    <div class="row pt-3">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>