<div class="sidebar-heading bg-dark text-light"><i class="fa-brands fa-apple"></i><small>
    มหาวิทยาลัยราชภัฏยะลา</small></div>
<div class="list-group list-group-flush"></div>
<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-xl-5 px-2">
  <h2 class="h6 pt-3 pb-1 mb-2 border-bottom">เมนูหลัก</h2>
  <nav class="small" id="toc">
    <ul class="list-unstyled">
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse" [routerLink]="BASE_URL + '/admin/home'" routerLinkActive="active"
          aria-expanded="true" data-bs-target="#contents-home" aria-controls="contents-home"><i
            class="fa-solid fa-genderless pe-2"></i> หน้าหลัก</button>

      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#contents-collapse1" aria-controls="contents-collapse1"><i
            class="fa-solid fa-genderless pe-2"></i> จัดการข้อมูล</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse1">
          <li class="p-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/employee']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">บุคลากร</a>
          </li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/department']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">แผนก</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/jobposition']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none">ตำแหน่ง</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i>
            <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/role']" routerLinkActive="active"
              class="d-inline-flex align-items-center rounded text-decoration-none" >กำหนดสิทธิ์การใช้งาน</a></li>
              <li class="p-1"><i class="fa-solid fa-genderless"></i>
                <a href="javascript:void(0)" [routerLink]="[BASE_URL + '/admin/useradmin']" routerLinkActive="active"
                  class="d-inline-flex align-items-center rounded text-decoration-none" >ผู้ดูแลระบบ</a></li>              
        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#contents-collapse2" aria-controls="contents-collapse2"><i
            class="fa-solid fa-genderless pe-2"></i> Contents</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse2">
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none"
              href="#typography">Typography</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#images">Images</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#tables">Tables</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#figures">Figures</a></li>
        </ul>
      </li>
      <li class="my-2">
        <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
          aria-expanded="true" data-bs-target="#contents-collapse3" aria-controls="contents-collapse3"><i
            class="fa-solid fa-genderless pe-2"></i> Contents</button>
        <ul class="list-unstyled ps-3 collapse" id="contents-collapse3">
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none"
              href="#typography">Typography</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#images">Images</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#tables">Tables</a></li>
          <li class="p-1"><i class="fa-solid fa-genderless"></i><a
              class="d-inline-flex align-items-center rounded text-decoration-none" href="#figures">Figures</a></li>
        </ul>
      </li>
    </ul>

    <h2 class="h6 pt-3 pb-1 mb-2 border-bottom">Applications</h2>
    <ul class="list-unstyled">
        <li class="my-2">
          <button class="btn d-inline-flex align-items-center collapsed border-0" data-bs-toggle="collapse"
            aria-expanded="true" data-bs-target="#contents-home" aria-controls="contents-home"><i
              class="fa-solid fa-genderless pe-2"></i> ระบบติดตามแม่บ้าน</button>
        </li>
      </ul>  

  </nav>
</aside>


