.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);


}
.form-control-dark::placeholder {
  color: rgb(136, 135, 135);
  opacity: 1; /* Firefox */
}

.form-control-dark::-ms-input-placeholder { /* Edge 12 -18 */
  color: rgb(136, 135, 135);
}

.bg-content {
background: rgb(255,255,255);
background: linear-gradient(333deg, rgba(255,255,255,1) 64%, rgba(255,232,200,1) 100%);
/* background-color: aqua; */
}

.blur {
filter: blur(3px);
}