<div class="d-flex bg-content" id="wrapper">
    <!-- Sidebar-->
    <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <app-header></app-header>
        <!-- Page content-->
        <div class="container-fluid ps-md-5 pe-md-5 pb-5">
            <h1 class="mt-4">แม่บ้าน</h1>
            <p>ระบบติดตามงานแม่บ้าน</p>

            <div class="row border shadow-sm bg-body-tertiary p-md-3">
                <div class="col-md-12">
                    <div class="row border-bottom pt-1 pb-1">
                        <div class="col-md-6 h5">เพิ่มแม่บ้าน</div>
                    </div>
                    <div class="col-md-12 pt-2">

                        <form [formGroup]="frm" (ngSubmit)="onSubmit()" *ngIf="itemRef">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="mb-3">
                                                <label for="prename" class="form-label">คำนำหน้า</label>
                                                <select *ngIf="prenameRef && prenameRef.data" name="prename" id="prename" class="form-control" formControlName="prename" [(ngModel)]="itemRef.prename_id"
                                                [class.is-invalid]="(frm.get('prename')?.invalid && (frm.get('prename')?.dirty || frm.get('prename')?.touched))"
                                                [class.is-valid]="(frm.get('prename')?.valid && (frm.get('prename')?.dirty || frm.get('prename')?.touched))"
                                                >
                                                    <option value="">- เลือก -</option>
                                                    <ng-container *ngFor="let element of prenameRef.data">
                                                        <option value="{{ element.id }}"> {{ element.name }}</option>
                                                    </ng-container>
                                                </select>     
                    
                                                <div *ngIf="frm.get('prename')?.invalid && (frm.get('prename')?.dirty || frm.get('prename')?.touched)">
                                                    <small class="text-danger m-2" *ngIf="frm.get('prename')?.hasError('required')">กรุณาเลือกคำนำหน้า</small>
                                                </div>  
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="fname" class="form-label">ชื่อ</label>
                                                <input type="text" class="form-control" id="fname" placeholder="ชื่อ" maxlength="50"
                                                formControlName="fname" [(ngModel)]="itemRef.firstname"
                                                [class.is-invalid]="(frm.get('fname')?.invalid && (frm.get('fname')?.dirty || frm.get('fname')?.touched))"
                                                [class.is-valid]="(frm.get('fname')?.valid && (frm.get('fname')?.dirty || frm.get('fname')?.touched))"
                                                >
                                                <div *ngIf="frm.get('fname')?.invalid && (frm.get('fname')?.dirty || frm.get('fname')?.touched)">
                                                    <small class="text-danger m-2" *ngIf="frm.get('fname')?.hasError('required')">กรุณากรอกชื่อ</small>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="lname" class="form-label">นามสกุล</label>
                                                <input type="text" class="form-control" id="lname" placeholder="นามสกุล" maxlength="50"
                                                formControlName="lname" [(ngModel)]="itemRef.lastname"
                                                [class.is-invalid]="(frm.get('lname')?.invalid && (frm.get('lname')?.dirty || frm.get('lname')?.touched))"
                                                [class.is-valid]="(frm.get('lname')?.valid && (frm.get('lname')?.dirty || frm.get('lname')?.touched))"
                                                >
                                                <div *ngIf="frm.get('lname')?.invalid && (frm.get('lname')?.dirty || frm.get('lname')?.touched)">
                                                    <small class="text-danger m-2" *ngIf="frm.get('lname')?.hasError('required')">กรุณากรอกนามสกุล</small>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="mb-3">
                                                <label for="nname" class="form-label">ชื่อเล่น</label>
                                                <input type="text" class="form-control" id="nname" maxlength="50" placeholder="ชื่อเล่น"
                                                formControlName="nname" [(ngModel)]="itemRef.nickname"
                                                [class.is-invalid]="(frm.get('nname')?.invalid && (frm.get('nname')?.dirty || frm.get('nname')?.touched))"
                                                [class.is-valid]="(frm.get('nname')?.valid && (frm.get('nname')?.dirty || frm.get('nname')?.touched))"
                                                >
                                                <div *ngIf="frm.get('nname')?.invalid && (frm.get('nname')?.dirty || frm.get('nname')?.touched)">
                                                    <small class="text-danger m-2" *ngIf="frm.get('nname')?.hasError('required')">กรุณากรอกชื่อเล่น</small>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="address" class="form-label">ที่อยู่</label>
                                                <input type="text" class="form-control" id="address" placeholder="ที่อยู่" maxlength="255"
                                                formControlName="address" [(ngModel)]="itemRef.address"
                                                [class.is-invalid]="(frm.get('address')?.invalid && (frm.get('address')?.dirty || frm.get('address')?.touched))"
                                                [class.is-valid]="(frm.get('address')?.valid && (frm.get('address')?.dirty || frm.get('address')?.touched))"
                                                >
                                                <div *ngIf="frm.get('address')?.invalid && (frm.get('address')?.dirty || frm.get('address')?.touched)">
                                                    <small class="text-danger m-2" *ngIf="frm.get('address')?.hasError('required')">กรุณากรอกที่อยู่</small>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="idcard" class="form-label">เลขที่บัตรประชาชน</label>
                                                <input type="idcard" class="form-control" id="idcard" placeholder="เลขที่บัตรประชาชน"
                                                formControlName="idcard" [(ngModel)]="itemRef.idcard"
                                                [class.is-invalid]="(frm.get('idcard')?.invalid && (frm.get('idcard')?.dirty || frm.get('idcard')?.touched))"
                                                [class.is-valid]="(frm.get('idcard')?.valid && (frm.get('idcard')?.dirty || frm.get('idcard')?.touched))"
                                                >
                                                <div *ngIf="frm.get('idcard')?.invalid && (frm.get('idcard')?.dirty || frm.get('idcard')?.touched)">
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('idcard')?.hasError('required')">กรุณากรอกเลขที่บัตรประชาชน</small></div>
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('idcard')?.hasError('pattern')">กรอกเฉพาะตัวเลขเท่านั้น</small></div>
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('idcard')?.hasError('email')">เลขที่บัตรประชาชนต้องมี 13 หลัก</small></div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="email" class="form-label">อีเมล์</label>
                                                <input type="email" class="form-control" id="email" placeholder="อีเมล์"
                                                formControlName="email" [(ngModel)]="itemRef.email" readonly
                                                [class.is-invalid]="(frm.get('email')?.invalid && (frm.get('email')?.dirty || frm.get('email')?.touched))"
                                                [class.is-valid]="(frm.get('email')?.valid && (frm.get('email')?.dirty || frm.get('email')?.touched))"
                                                >
                                                <div *ngIf="frm.get('email')?.invalid && (frm.get('email')?.dirty || frm.get('email')?.touched)">
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('email')?.hasError('required')">กรุณากรอกอีเมล์</small></div>
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('email')?.hasError('email')">รูปแบบอีเมล์ไม่ถูกต้อง</small></div>
                                                </div> 
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="phone" class="form-label">เบอร์โทรศัพท์</label>
                                                <input type="text" class="form-control" id="phone" placeholder="เบอร์โทรศัพท์" maxlength="10"
                                                formControlName="phone" [(ngModel)]="itemRef.phoneNumber"
                                                [class.is-invalid]="(frm.get('phone')?.invalid && (frm.get('phone')?.dirty || frm.get('phone')?.touched))"
                                                [class.is-valid]="(frm.get('phone')?.valid && (frm.get('phone')?.dirty || frm.get('phone')?.touched))"
                                                >
                                                <div *ngIf="frm.get('phone')?.invalid && (frm.get('phone')?.dirty || frm.get('phone')?.touched)">
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('phone')?.hasError('pattern')">กรุณากรอกเฉพาะตัวเลข</small></div>
                                                    <div><small class="text-danger m-2" *ngIf="frm.get('phone')?.hasError('minLength')">เบอร์โทรศัพท์ต้องไม่น้อยกว่า 10 หลัก</small></div>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="mb-3">
                                                <label for="lineId" class="form-label">Line ID</label>
                                                <input type="text" class="form-control" id="lineId" placeholder="Lind ID"
                                                formControlName="lineId" [(ngModel)]="itemRef.lineId"
                                                [class.is-invalid]="(frm.get('lineId')?.invalid && (frm.get('lineId')?.dirty || frm.get('lineId')?.touched))"
                                                [class.is-valid]="(frm.get('lineId')?.valid && (frm.get('lineId')?.dirty || frm.get('lineId')?.touched))"
                                                >
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                                <label for="active" class="form-label">Active</label>
                                                <select name="active" id="active" class="form-control" formControlName="active" [(ngModel)]="itemRef.active"
                                                [class.is-valid]="(frm.get('active')?.valid && (frm.get('active')?.dirty || frm.get('active')?.touched))"
                                                >
                                                    <option value="Active" selected>Active</option>
                                                    <option value="Deactive">Deactive</option>
                                                </select>  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <div class="mb-3">
                                             
                                                <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="frm.invalid" *ngIf="!isProcess" >บันทึก</button>
                                            <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="true"  *ngIf="isProcess">
                                                <i class="fa-solid fa-spinner fa-spin"></i>
                                            </button>
                                                <a class="btn btn-secondary btn-sm ps-3 pe-3"
                                                    [routerLink]="[BASE_URL + '/homemaker/admin/homemaker']">ยกเลิก</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row border-bottom pt-3">
                                            <div class="col-md-6 h6">ข้อมูลสำหรับล๊อกอินเข้าระบบ</div>
                                        </div>
                                    </div> 
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <app-homemaker-reset-password></app-homemaker-reset-password>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12 bg-danger-subtle border border-danger">
                                                <button type="button" class="btn btn-danger btn-sm mt-2 mb-2" (click)="del(this.id)" *ngIf="!loadingDel">ลบแม่บ้าน</button>
                                                <button type="button" class="btn btn-danger btn-sm mt-2 mb-2" (click)="del(this.id)" disabled  *ngIf="loadingDel"><i class="fa-solid fa-spinner fa-spin"></i></button>
                                            </div>
                                        </div>
                                    </div>     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>