

<div class="d-flex bg-content" id="wrapper">
  <!-- Sidebar-->
  <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
    <app-sidebar></app-sidebar>
  </div>

  <!-- Page content wrapper-->
  <div id="page-content-wrapper">
    <!-- Top navigation-->
    <app-header></app-header>
    <!-- Page content-->
    <div class="container-fluid ps-5">
      <h1 class="mt-4">Dashboard</h1>
      <p>ระบบจัดการสิทธิ์ใช้งานระบบ</p>
      <div class="row p-3 col-12 border shadow-sm bg-body-tertiary">
        <!-- <div class="col-md-12 border p-3"> -->
          <div class="row">
            เนื้อหา<br>
            หน้าแรกสำหรับ admin
          </div>
        <!-- </div> -->
      </div>
      <p></p>
    </div>
  </div>
</div>
<app-footer></app-footer>