<div class="d-flex bg-content" id="wrapper">
    <!-- Sidebar-->
    <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <app-header></app-header>
        <!-- Page content-->
        <div class="container-fluid ps-md-5 pe-md-5">
            <h1 class="mt-4">ประเภทห้อง</h1>
            <p>ระบบติดตามงานแม่บ้าน</p>

            <div class="row border shadow-sm bg-body-tertiary p-md-3">
                <div class="col-md-4">
                    <div class="border-bottom mb-2 h5"><strong>เพิ่มประเภท</strong></div>
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="frm" (ngSubmit)="onSubmit()" >
                                <div class="mb-3">
                                    <label for="" class="form-label">ประเภทห้อง</label>
                                    <input type="text" class="form-control" id="name" placeholder="ประเภทห้อง"
                                    formControlName="name"
                                    [class.is-invalid]="(frm.get('name')?.invalid && (frm.get('name')?.dirty || frm.get('name')?.touched))"
                                    >
                                    <div *ngIf="(frm.get('name')?.invalid && (frm.get('name')?.dirty || frm.get('name')?.touched))">
                                        <small class="text-danger" *ngIf="frm.get('name')?.hasError('required')">กรุณากรอกประเภท</small>
                                    </div>  
                                  </div>
                                  <div class="mb-3">
                                    <label for="" class="form-label">รายละเอียด</label>
                                    <input type="text" class="form-control" id="desc" placeholder="รายละเอียด"
                                    formControlName="desc"
                                    >
                                  </div>
                                  <div class="mb-3">
                                    <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="frm.invalid" *ngIf="!isProcess"><i class="fa-solid fa-check"></i> บันทึก</button>
                                    <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="true"  *ngIf="isProcess">
                                        <i class="fa-solid fa-spinner fa-spin"></i>
                                    </button>
                                    <button type="reset" class="btn btn-secondary btn-sm ps-3 pe-3"><i class="fa-solid fa-rotate"></i> รีเซ็ต</button>
                                  </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="border-bottom mb-2 h5"><strong>รายการประเภท</strong></div>
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped border mt-1" *ngIf="itemRef && itemRef.data">
                                <thead>
                                    <tr>
                                        <th>ประเภทห้อง</th>
                                        <th>รายละเอียด</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <div *ngIf="(itemRef.meta.total == 0); then showDataZero else showData"></div>
                                <ng-template #showDataZero><tbody><tr><td colspan="25"><p class="text-center p-2"> - ไม่พบข้อมูล - </p></td></tr></tbody></ng-template>
                                <ng-template #showData>
                                <tbody >
                                    <tr *ngIf="loadingData"><td colspan="10"><i class="fa-solid fa-spinner fa-spin"></i> Loading...</td></tr>
                                    <tr *ngFor="let element of itemRef.data">
                                        <td class="w-auto">{{element.type_text}}</td>
                                        <td class="w-auto">{{element.description}}</td>
                                        <td class="text-center" style="width: 100px;">
                                            <a class="text-primary me-2" [routerLink]="[BASE_URL + '/homemaker/admin/roomtype/edit',element.id]"><i class="fa-solid fa-pencil"></i></a>
                                            <a class="text-danger" (click)="del(element.id)"><i class="fa-regular fa-trash-can"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>