
<!-- <div class="card"> -->
    <!-- <div class="card-body"> -->
        <div class="row">
            <div class="col-md-12">
                <!-- <form [formGroup]="frm" (ngSubmit)="onSubmit()" > -->
                <form>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="mb-2">
                                        <label for="name" class="form-label">หัวข้อ</label>
                                        <input type="text" class="form-control" id="name" placeholder="หัวข้อ" maxlength="255">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row align-items-center mb-2">
                                        <div class="col-md-2 text-end">
                                          <label for="inputPassword6" class="col-form-label">หัวข้อย่อย</label>
                                        </div>
                                        <div class="col-md-10">
                                          <input type="text" id="inputPassword6" class="form-control" placeholder="ชื่อหัวข้อย่อย">
                                        </div>
                                    </div>
                                    <div class="row  mb-2 ">
                                        <div class="col-md-2 text-end mt-2" >
                                          ตัวเลือก
                                        </div>
                                        <div class="col-md-10">
                                            <div class="row align-items-center  mb-2">
                                                <div class="col-auto">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled >
                                                </div>
                                                <div class="col-md-10">
                                                  <input type="text" id="inputPassword6" class="form-control" placeholder="ตัวเลือก">
                                                </div>
                                            </div>
                                            <div class="row align-items-center  mb-2">
                                                <div class="col-auto">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled >
                                                </div>
                                                <div class="col-md-10">
                                                  <input type="text" id="inputPassword6" class="form-control" placeholder="ตัวเลือก">
                                                </div>
                                            </div>
                                            <div class="row align-items-center  mb-2">
                                                <div class="col-auto">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled >
                                                </div>
                                                <div class="col-md-10">
                                                  <input type="text" id="inputPassword6" class="form-control" placeholder="ตัวเลือก">
                                                </div>
                                            </div>
                                            <div class="row align-items-center  mb-2">
                                                <div class="col-auto">
                                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" disabled >
                                                </div>
                                                <div class="col-md-10">
                                                  <input type="text" id="inputPassword6" class="form-control" placeholder="ตัวเลือก">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <!-- <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="frm.invalid" *ngIf="!isProcess"><i class="fa-regular fa-floppy-disk"></i> บันทึก</button>
                                    <button type="submit" class="btn btn-primary btn-sm me-1 ps-3 pe-3" [disabled]="true"  *ngIf="isProcess">
                                        <i class="fa-solid fa-spinner fa-spin"></i>
                                    </button> -->
                                        <!-- <a class="btn btn-secondary btn-sm ps-3 pe-3"
                                            [routerLink]="[BASE_URL + '/homemaker/admin/checklist']"><i class="fa-regular fa-circle-xmark"></i> ยกเลิก</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    <!-- </div> -->
  <!-- </div> -->