/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/dist/css/bootstrap.css'; 
 
/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* body {
    margin: 0;
    font-size: 14px;
    font-family: "Prompt", sans-serif;
} */