<div class="d-flex bg-content" id="wrapper">
    <!-- Sidebar-->
    <div class="shadow bg-body-tertiary " id="sidebar-wrapper">
        <app-sidebar></app-sidebar>
    </div>

    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <app-header></app-header>
        <!-- Page content-->
        <div class="container-fluid ps-md-5 pe-md-5">
            <h1 class="mt-4">ห้อง</h1> 
            <p>ระบบติดตามงานแม่บ้าน</p>

            <div class="row border shadow-sm bg-body-tertiary p-md-3">
                <div class="col-md-12">
                    <div class="row border-bottom pt-1 pb-1">
                        <div class="col-md-6 h5">รายการห้อง</div>
                        <div class="col-md-6 text-md-end">
                            <a class="btn btn-primary btn-sm" href="javascript:void(0)"
                                [routerLink]="[BASE_URL + '/homemaker/admin/room/add']"><i class="fa-solid fa-file-circle-plus"></i> เพิ่มห้อง</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive-lg">
                                <table class="table table-striped table-bordered mt-1" *ngIf="itemRef && itemRef.data">
                                    <thead>
                                        <tr>
                                            <th class="w-50">ชื่อ-นามสกุล</th>
                                            <th class="w-auto">แม่บ้าน</th>
                                            <th class="w-auto">ผู้ดูแลห้อง</th>
                                            <th class="w-auto">แบบฟอร์มตรวจห้อง</th>
                                        </tr>
                                    </thead>
                                    <div *ngIf="(itemRef.meta.total == 0); then showDataZero else showData"></div>
                                    <ng-template #showDataZero>
                                        <tbody>
                                            <tr>
                                                <td colspan="25">
                                                    <p class="text-center p-2"> - ไม่พบข้อมูล - </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </ng-template>
                                    <ng-template #showData>
                                        <tbody>
                                            <tr *ngIf="loadingData">
                                                <td colspan="10"><i class="fa-solid fa-spinner fa-spin"></i> Loading...</td>
                                            </tr>
                                            <tr *ngFor="let element of itemRef.data">
                                                <td>
                                                    <a [routerLink]="[BASE_URL + '/homemaker/admin/room/edit', element.roomId]"
                                                        class="link-underline link-underline-opacity-0">{{element.roomName}}</a>
                                                </td>
                                                <td>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-xs"(click)="openModalHomeMaker(element.roomId)"><i class="fa-solid fa-gear"></i> จัดการ</button>
                                                    </div>
                                                    <div *ngIf="(element?.homemaker?.length == 0)" class="text-secondary" >- ยังไม่มีแม่บ้าน</div>
                                                    <div *ngIf="element.homemaker">
                                                        <div  *ngFor="let homemaker of element.homemaker">
                                                            <div>
                                                                <i class="fa-solid fa-user"></i> {{ homemaker.prename_id }}{{ homemaker.firstname }} {{ homemaker.lastname }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div>
                                                        <button type="button" class="btn btn-primary btn-xs"(click)="openModalPersonnel(element.roomId)">
                                                            <i class="fa-solid fa-gear"></i> จัดการ
                                                        </button>
                                                    </div>
                                                    <div *ngIf="(element?.personnel?.length == 0)" class="text-secondary" >- ยังไม่มีผู้ดูแล</div>
                                                    <div *ngIf="element.personnel">
                                                        <div  *ngFor="let personnel of element.personnel">
                                                            <div>
                                                                <i class="fa-solid fa-user"></i> {{ personnel.prename_id }}{{ personnel.firstname }} {{ personnel.lastname }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <!-- <button type="button" class="btn btn-primary btn-xs"
                                                        (click)="openModalChecklist(templateAddChecklist)"><i
                                                            class="fa-solid fa-gear"></i> จัดการ</button> -->
                                                        </td>
                                            </tr>
                                        </tbody>
                                    </ng-template>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #template>
        loading.....
    </ng-template>
    <app-footer></app-footer>